* {
    box-sizing: border-box;
}

html {
    /* max-width: 1550px; */
    margin: auto;
    scroll-behavior: smooth;
    
}

body.light {
    --text: dark;
    --background: white;

}

body.dark {
    --text: white;
    --background: black;
}

body {
    color: var(--text);
    background: var(--background);
    margin: auto;
    padding: auto;
    padding-bottom: 30px;
    text-rendering: optimizeLegibility;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; */

    /* font-family: sans-serif; */


    cursor: default;
    max-width: 1200px;

    font-family: 'Libre Caslon Text', serif;
    font-size: 18px;
    line-height: 32px;
    word-spacing: normal;
 }

 .navbar {
    font-size: 1.2em;
    z-index: 1;
    top: 0;
    list-style: none;
    width: max-content;
    border-bottom: 1px solid #eee;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a {
    padding: 8px;

}

.navbar a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text);
    font-weight: bold;
}



 .intro {
    padding: 20px 15px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.intro h1 {
    padding-bottom: .3em;
    font-size: 2.2em;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.25;
    /* text-align: center; */
    /* border-bottom: 1px solid #eee; */
}

.intro p {
    font-size: 1.2rem;
    line-height: 1.5;
    word-wrap: break-word;
    margin-bottom: 16px;
    margin-top: 0;
}

.intro img {
    padding: 15px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height:450px;
    max-width: 100%;
    width:auto;
    height:auto;
    overflow:hidden;
    filter: drop-shadow(0 0 1.5px rgb(0, 0, 0));
    transition: transform .5s;
    z-index: 1;
}


.drafts, .published {
    padding: 15px 25px;
    margin: 35px;
    max-width: min-content;
    min-width: 400px;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    margin-bottom: 100px;
    transition-duration: 0.4s;
}

.drafts h1, .published h1 {
    margin-top: 0;
    width: max-content;
    border-bottom: 1px solid #eee;
}

.drafts h2, .published h2 {
    /* font-weight: lighter; */
    margin-bottom: auto;
}

.drafts h3, .published h3 {
    display: inline;
    font-weight: lighter;
    font-size: 1.3rem;
    max-width: 200px;
    line-break: anywhere;
}

.drafts a:link, .drafts a:visited, .published a:link, .published a:visited {
    color: var(--text);
    transition-duration: 0.4s;
    /* text-decoration: none; */
}

.drafts a:hover, .published a:hover {
    color: var(--text);
    text-decoration: none;
}

.two-top {
    display: flex;
    max-height: max-content;
}


.page {
    max-width: 640px;
    margin: auto;
    padding-top: 20px;
}

.page h2 {
    font-size: 2rem;
    /* margin-bottom: 50px; */
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-weight: lighter;
}

.page p {
    padding: 0px 25px;
    text-indent: 20px;
    /* font-size: 1.2rem;
    line-height: 1.5em; */
    /* word-wrap: break-word; */
    text-align: justify;
    /* letter-spacing: .055em; */
}

.page blockquote {
    text-align: justify;
    color: grey;

    /* comment out display:none to show notes */
    display: none;

}

.page a {
    padding: 10px;
    text-indent: 20px;
    font-size: 1rem;
    /* line-height: 1.5; */
    /* word-wrap: break-word; */
    line-break: auto;
    text-align: auto;
    letter-spacing: .025em;
}

.page a:link, .page a:visited {
    color: var(--text);
    /* text-decoration: none; */
}

.page a:hover, .page a:hover {
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
}

.next {
    margin-top: 55px;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;

    padding: 10px 10px;
    border-top: 1px solid #eee;
    bottom: 0;
    /* min-height: 100vh; */


    /* min-width: 400px; */
    /* 
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 100px;
     */
}

.next a {
    padding: 10px;
    text-indent: 20px;
    font-size: 1rem;
    /* line-height: 1.5; */
    /* word-wrap: break-word; */
    line-break: auto;
    text-align: auto;
    letter-spacing: .025em;
}

.next a:link, .next a:visited {
    color: var(--text);
    text-decoration: none;
}

.next a:hover, .next a:hover {
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
}

/* .next button {
    background-color: var(--background);
    transition-duration: 0.4s;
    border-radius: 10px;
    padding: 5px;
    border-style: hidden;
    color: var(--text);
}

.next button:hover {
    background-color: #eee;
    color: #000;
    filter: drop-shadow(0 0 1.5px rgb(0, 0, 0));
  } */


footer {
    /* border-top-style: solid; */
    padding-top: 120px;
    text-align: center;
    text-align: -webkit-center;
    position: static;
    bottom: 0;
    width: 100%;
    /* padding-top: 200px; */
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    padding: 0px 10px;
}

footer a:link, a:visited {
    color: var(--text);
}

footer a:hover {
    font-weight: bold;
}



@media (max-width: 850px) {

    .two-top {
        display: grid;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

}